<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="r2">
    <gazebo>
        <plugin name="planar_move_plugin" filename="libgazebo_ros_planar_move.so">
            <robotNamespace>/</robotNamespace>
            <bodyName>base_footprint</bodyName>
            <commandTopic>cmd_vel</commandTopic>
            <odometryTopic>odom</odometryTopic>
            <odometryFrame>odom</odometryFrame>
            <odometryRate>100.0</odometryRate>
            <robotBaseFrame>base_footprint</robotBaseFrame>
        </plugin>
  </gazebo>

  <xacro:macro name="luna" params="prefix">
    <gazebo reference="${prefix}">
        <sensor name="${prefix}" type="ray">
            <always_on>true</always_on>
            <visualize>true</visualize>
            <pose>0.0 0 0.0 0 0 0</pose>
            <update_rate>5</update_rate>
            <ray>
                <scan>
                    <horizontal>
                        <samples>5</samples>
                        <resolution>1.0</resolution>
                        <min_angle>0</min_angle>
                        <max_angle>0</max_angle>
                    </horizontal>
                    <vertical>
                        <samples>5</samples>
                        <resolution>1.0</resolution>
                        <min_angle>0.0</min_angle>
                        <max_angle>0.0</max_angle>
                    </vertical>
                </scan>
                <range>
                    <min>0.02</min>
                    <max>8</max>
                    <resolution>0.01</resolution>
                </range>
                <noise>
                    <type>gaussian</type>
                    <mean>0.0</mean>
                    <stddev>0.01</stddev>
                </noise>
            </ray>
            <plugin name="${prefix}" filename="libgazebo_ros_ray_sensor.so">
                <ros>
                    <namespace>distance</namespace>
                    <remapping>~/out:=${prefix}</remapping>
                </ros>
                <output_type>sensor_msgs/Range</output_type>
                <radiation_type>ultrasound</radiation_type>
                <frame_name>${prefix}_dist_sensor</frame_name>
            </plugin>
        </sensor>
        <material>Gazebo/Blue</material>
    </gazebo>
  </xacro:macro>




<gazebo reference="imu_link">
    <sensor name="r2_imu" type="imu">
        <always_on>true</always_on>
        <update_rate>100</update_rate>
        <imu>
          <angular_velocity>
            <x>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>2e-4</stddev>
              </noise>
            </x>
            <y>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>2e-4</stddev>
              </noise>
            </y>
            <z>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>2e-4</stddev>
              </noise>
            </z>
          </angular_velocity>
          <linear_acceleration>
            <x>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>1.7e-2</stddev>
              </noise>
            </x>
            <y>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>1.7e-2</stddev>
              </noise>
            </y>
            <z>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>1.7e-2</stddev>
              </noise>
            </z>
          </linear_acceleration>
        </imu>
        <plugin name="imu_plugin" filename="libgazebo_ros_imu_sensor.so">
            <ros>
                <namespace>imu</namespace>
                <remapping>~/out:=data</remapping>
            </ros>
            <initial_orientation_as_reference>true</initial_orientation_as_reference>
        </plugin>
    </sensor>
</gazebo>

    <gazebo reference="camera_link">
        <material>Gazebo/Red</material>

        <sensor name="camera" type="camera">
            <pose> 0 0 0 0 0 0 </pose>
            <visualize>true</visualize>
            <update_rate>10</update_rate>
            <camera>
                <horizontal_fov>1.089</horizontal_fov>
                <image>
                    <format>R8G8B8</format>
                    <width>640</width>
                    <height>480</height>
                </image>
                <clip>
                    <near>0.05</near>
                    <far>8.0</far>
                </clip>
            </camera>
            <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
                <frame_name>camera_link_optical</frame_name>
            </plugin>
        </sensor>
    </gazebo>

</robot>
