<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="r2">
    <xacro:include filename="common.xacro"/>
    <xacro:include filename="body/r2.xacro"/>
    <xacro:r2/>

    <xacro:include filename="gazebo.xacro"/>
    <xacro:luna prefix="lidar_fl_1"/>
    <xacro:luna prefix="lidar_fr_1"/>
    <xacro:luna prefix="lidar_lf_1"/>
    <xacro:luna prefix="lidar_lb_1"/>
    <xacro:luna prefix="lidar_rb_1"/>
    <xacro:luna prefix="lidar_rf_1"/>
    

    <xacro:include filename="control.xacro"/>
    
</robot>